//COLORS
$color-text-blue: #0A5DBE; 
$color-primary-dark: #003F5A; 
$color-primary-light: #007A7A;
$color-features-icon: #00A4EC;
$color-about-btn-hover: #8FCCDF;
$color-about-img-hover: #003183;
$color-tours-left: #50723C;
$color-tours-left-bk:#8CBA80;
$color-tours-middle:#43AA8B;
$color-tours-middle-bk: #B2B09B;
$color-tours-right: #DF6600;
$color-tours-right-bk: #FEA02F;

$color-grey-dark: #777; 
$color-black: #000;
$color-white: #fff;
$color-light-grey-one: #f7f7f7;
$color-light-grey-two: #eee;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT SIZES
$default-font-size: 1.6rem;
