//COLORS
$color-text-green-cyan: #0A5DBE; 
$color-primary-dark: #003F5A; 
$color-primary-light: #007A7A;
$color-features-icon: #00A4EC;
$color-about-btn-hover: #8FCCDF;
$color-about-img-hover: #003183;
$color-tours-box-left: #5762D5;
$color-tours-box-middle:#8CBA80;
$color-tours-box-right: #FFE347;

$color-grey-dark: #777; 
$color-black: #000;
$color-white: #fff;
$color-light-grey-one: #f7f7f7;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT SIZES
$default-font-size: 1.6rem;
